.click-appear-div {
  background: rgba(81, 142, 248, 0.1);
  border: 1px solid #518EF8;
  border-radius: 15px;
}
.custom-select {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  //padding: 3% 0% 3% 0%;
	line-height: 42px;
}
.form-control {
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
	height: 60px;
}
input {
	background-color: #FCFCFC !important;
}
