.create_charges {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.charges-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.charges-btn-section {
	display: flex;
	justify-content: flex-end;
}
.charges-checkbox-container {
	overflow: auto;
}
.checkbox-div {
	width: 90%;
}
.custom-select {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  //padding: 3% 0% 3% 0%;
	line-height: 42px;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.charges-input-section {
	background: rgba(81, 142, 248, 0.1);
  border: 0.5px solid #518EF8;
  border-radius: 15px;
}
.form-control {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
	height: 60px;
}
.line {
	width: 100%;
}
.Charge-tags {
  &::-webkit-scrollbar {
    display: none;
  }
}
.btn-next {
	color: white !important;
	background: #1AC29A !important;
	border-color: #1AC29A !important;
	&:hover {
		background: #1AC29A !important;
		border-color: #1AC29A !important;
	}
}
.btn-prev {
	margin-right: 20px;
	color: rgba(10, 33, 62, 0.6) !important;
	background: #F3F5F8 !important;
	border-color: #F3F5F8 !important;
	&:hover {
		color: rgba(10, 33, 62, 0.6) !important;
		background: #F3F5F8 !important;
		border-color: #F3F5F8 !important;
	}
}
@media only screen and (max-width: 950px) {
	.charges-button {
		width: 30%;
	}
}
@media only screen and (max-width: 650px) {
	.table-col {
		width: 25%;
	}
}
@media only screen and (max-width: 500px) {
	.create_charges {
		height: auto;
		width: 100%;
	}
	.line {
		width: 100%;
	}
	.charges-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.charges-checkbox-div {
		width: 240%;
	}
	.select {
		font-size: 15px;
	}
	.charges-btn-section {
		display: block;
	}
	.btn-next {
		width: 100%;
	}
	.btn-prev {
		width: 100%;
		margin-bottom: 4vw;
	}
}
