.create_terms {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.terms-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.terms-btn-section {
	display: flex;
}
.terms-checkbox-container {
	overflow: auto;
}
.checkbox-div {
	width: 90%;
}
.custom-select {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  //padding: 3% 0% 3% 0%;
	line-height: 42px;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.terms-input-section {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.terms-input-field {
	width: 31%;
}
.form-control {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
	height: 60px;
}
.line {
	width: 100%;
}
.btn-next {
	order: 1;
	color: white;
	background: #1AC29A !important;
	border-color: #1AC29A !important;
	&:hover {
		background: #1AC29A !important;
		border-color: #1AC29A !important;
	}
}
.btn-prev {
	color: rgba(10, 33, 62, 0.6);
	background: #F3F5F8 !important;
	border-color: #F3F5F8 !important;
	&:hover {
		color: rgba(10, 33, 62, 0.6);
		background: #F3F5F8 !important;
		border-color: #F3F5F8 !important;
	}
}

@media only screen and (max-width: 950px) {
	.terms-button {
		width: 30%;
	}
	.terms-input-section {
		display: block;
		width: 90%;
	}
	.terms-input-field {
		width: 60%;
		margin-bottom: 5%;
	}
}

@media only screen and (max-width: 500px) {
	.create_terms {
		height: auto;
		width: 100%;
	}
	.line {
		width: 100%;
	}
	.terms-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.terms-checkbox-div {
		width: 240%;
	}
	.select {
		font-size: 15px;
	}
	.terms-btn-section {
		display: block;
		margin-left: 10%;
	}
	.btn-next {
		width: 90%;
		margin-left: 0% !important;
		margin-bottom: 4vw;
	}
	.btn-prev {
		width: 90%;
	}
}
