.create_PD {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.PD-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.PD-btn-section {
	display: flex;
}
.PD-checkbox-container {
	overflow: auto;
}
.PD-checkbox-div {
	width: 90%;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.line {
	width: 100%;
}
.form-control {
	height: 60%;
	background-color: #FCFCFC;
	border: 0.5px solid rgba(10, 33, 62, 0.15);
	font-size: 18px;
	//padding: 5% 4% 5% 4%;
	border-radius: 5px;
}
.btn-next {
	order: 1;
	color: white;
	background: #1AC29A;
	border-color: #1AC29A;
	&:hover {
		background: #1AC29A;
		border-color: #1AC29A;
	}
}
.btn-prev {
	color: rgba(10, 33, 62, 0.6);
	background: #F3F5F8;
	border-color: #F3F5F8;
	&:hover {
		color: rgba(10, 33, 62, 0.6);
		background: #F3F5F8;
		border-color: #F3F5F8;
	}
}

@media only screen and (max-width: 950px) {
	.PD-button {
		width: 30%;
	}
}

@media only screen and (max-width: 500px) {
	.create_PD {
		height: auto;
		width: 200%;
	}
	.PD-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.line {
		width: 100%;
	}
	.PD-checkbox-div {
		width: 120%;
	}
	.PD-btn-section {
		display: flex;
	}
	.PD-button {
		width: 30%;
	}
}
