.create_rdr {
  height: 100vh;
  width: 100%;
}

.circle {
  height: 35px;
  width: 35px;
}

.CRDR-button {
  height: auto;
  width: 15%;
  font-size: 20px;
  font-weight: 600;
}

.CRDR-btn-section {
  display: flex;
}

.crdr-checkbox-container {
  overflow: auto;
}

.crdr-checkbox-div {
  width: 90%;
}

.icon {
  color: rgba(10, 33, 62, 0.25);
}

.line {
  width: 100%;
}

.crdr-input-section {
  display: flex;
  width: 90%;
}

.crdr-input-field {
  width: 31%;
}


.btn-next {
  order: 1;
  color: white;
  background: #1AC29A;
  border-color: #1AC29A;
}

.btn-next:hover {
  background: #1AC29A;
  border-color: #1AC29A;
}

.btn-prev {
  color: rgba(10, 33, 62, 0.6);
  background: #F3F5F8;
  border-color: #F3F5F8;
}

.btn-prev:hover {
  color: rgba(10, 33, 62, 0.6);
  background: #F3F5F8;
  border-color: #F3F5F8;
}

@media only screen and (max-width: 950px) {

  .CRDR-button {
    width: 30%;
  }

  .crdr-input-section {
    display: block;
    width: 90%;
  }

  .crdr-input-field {
    width: 60%;
    margin-bottom: 5%;
  }

}


@media only screen and (max-width: 500px) {
  .create_rdr {
    height: 200vh;
    width: 200%;
  }

  .crdr-checkbox-container::-webkit-scrollbar {
      display: none;
  }

  .line {
    width: 100%;
  }

  .crdr-checkbox-div {
    width: 120%;
  }

  .CRDR-btn-section {
    display: flex;
  }

  .CRDR-button {
    width: 30%;
  }

}