.create_IRC {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.IRC-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.IRC-btn-section {
	display: flex;
}
.IRC-checkbox-container {
	overflow: auto;
}
.settings-text-small {
	font-size: 18px;
}
.checkbox-div {
	width: 90%;
}
.two-col-div {
	display: flex;
	justify-content: space-between;
}
.two-col-div-item {
	display: block;
	width: 50%;
}
.custom-select {
	//height: 100%;
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  //padding: 3% 0% 3% 0%;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.IRC-input-section {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.IRC-input-field {
	width: 48%;
}
.form-control {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
}
.line {
	width: 100%;
}
.line-2 {
	width: auto;
	margin-top: 1%;
}
.btn-next {
	order: 1;
	color: white;
	background: #1AC29A;
	border-color: #1AC29A;
	&:hover {
		background: #1AC29A;
		border-color: #1AC29A;
	}
}
.btn-prev {
	color: rgba(10, 33, 62, 0.6);
	background: #F3F5F8;
	border-color: #F3F5F8;
	&:hover {
		color: rgba(10, 33, 62, 0.6);
		background: #F3F5F8;
		border-color: #F3F5F8;
	}
}

@media only screen and (max-width: 950px) {
	.IRC-button {
		width: 30%;
	}
	.IRC-input-section {
		display: block;
		width: 90%;
	}
	.IRC-input-field {
		width: 60%;
		margin-bottom: 5%;
	}
}

@media only screen and (max-width: 500px) {
	.create_IRC {
		height: auto;
		width: 200%;
	}
	.line {
		width: 100%;
	}
	.line-2 {
		margin: 0%;
	}
	.two-col-div {
		display: block;
		width: 100%;
	}
	.two-col-div-item {
		width: 80%;
		margin-bottom: 5%;
	}
	.IRC-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.checkbox-div {
		width: 120%;
	}
	.select {
		font-size: 15px;
	}
	.IRC-btn-section {
		display: flex;
	}
	.IRC-button {
		width: 30%;
	}
}
