.create_cd {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.CD-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.CD-btn-section {
	display: flex;
}
.cd-checkbox-container {
	overflow: auto;
}
.checkbox-div {
	width: 90%;
}
.select {
	font-size: 18px;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.cd-input-section {
	display: flex;
	width: 90%;
}
.cd-input-field {
	width: 31%;
}
.form-control {
  background: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  padding: 5% 4% 5% 4%;
  border-radius: 5px;
}
.line {
	width: 100%;
}
.btn-next {
	order: 1;
	color: white;
	background: #1AC29A;
	border-color: #1AC29A;
	&:hover {
		background: #1AC29A;
		border-color: #1AC29A;
	}
}
.btn-prev {
	color: rgba(10, 33, 62, 0.6);
	background: #F3F5F8;
	border-color: #F3F5F8;
	&:hover {
		color: rgba(10, 33, 62, 0.6);
		background: #F3F5F8;
		border-color: #F3F5F8;
	}
}
@media only screen and (max-width: 950px) {
	.CD-button {
		width: 30%;
	}
	.cd-input-section {
		display: block;
		width: 90%;
	}
	.cd-input-field {
		width: 60%;
		margin-bottom: 5%;
	}
}
@media only screen and (max-width: 500px) {
	.create_cd {
		height: 200vh;
		width: 200%;
	}
	.line {
		width: 100%;
	}
	.cd-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.checkbox-div {
		width: 120%;
	}
	.select {
		font-size: 15px;
	}
	.CD-btn-section {
		display: flex;
	}
	.CD-button {
		width: 30%;
	}
}
