.create_accounting {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.accounting-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.accounting-btn-section {
	display: flex;
}
.accounting-checkbox-container {
	overflow: auto;
}
.accounting-text-small {
	font-size: 18px;
}
.checkbox-div {
	width: 90%;
}
.custom-select {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  //padding: 3% 0% 3% 0%;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.form-control {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  padding: 3% 0% 3% 0%;
}
.line {
	width: 100%;
}
.line-2 {
	width: auto;
	margin-top: 1%;
}
.click-appear-div {
  background: rgba(81, 142, 248, 0.1);
  border: 1px solid #518EF8;
  border-radius: 15px;
}
.btn-next {
	order: 1;
	color: white;
	background: #1AC29A;
	border-color: #1AC29A;
	&:hover {
		background: #1AC29A;
		border-color: #1AC29A;
	}
}
.btn-prev {
	color: rgba(10, 33, 62, 0.6);
	background: #F3F5F8;
	border-color: #F3F5F8;
	&:hover {
		color: rgba(10, 33, 62, 0.6);
		background: #F3F5F8;
		border-color: #F3F5F8;
	}
}

@media only screen and (max-width: 950px) {
	.accounting-button {
		width: 30%;
	}
}

@media only screen and (max-width: 500px) {
	.create_accounting {
		height: auto;
		width: 200%;
	}
	.line {
		width: 100%;
	}
	.line-2 {
		margin: 0%;
	}
	.accounting-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.checkbox-div {
		width: 120%;
	}
	.select {
		font-size: 15px;
	}
	.accounting-btn-section {
		display: flex;
	}
	.accounting-button {
		width: 30%;
	}
}
