.create_settings {
	height: 100vh;
	width: 100%;
}
.circle {
	height: 35px;
	width: 35px;
}
.settings-button {
	height: auto;
	width: 15%;
	font-size: 20px;
	font-weight: 600;
}
.settings-btn-section {
	display: flex;
	justify-content: flex-end;
}
.settings-checkbox-container {
	overflow: auto;
}
.settings-text-small {
	font-size: 18px;
}
.checkbox-div {
	width: 90%;
}
.two-col-div {
	display: flex;
	justify-content: space-between;
}
.two-col-div-item {
	width: 50%;
}
.custom-select {
  height: 100%;
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  //padding: 3% 0% 3% 0%;
	line-height: 42px;
}
.icon {
	color: rgba(10, 33, 62, 0.25);
}
.settings-input-section {
	display: flex;
	justify-content: space-between;
	width: 90%;
}
.settings-input-field {
	width: 31%;
}
.form-control {
  background-color: #FCFCFC;
  border: 0.5px solid rgba(10, 33, 62, 0.15);
  font-size: 18px;
  //padding: 5% 4% 5% 4%;
  border-radius: 5px;
  padding: 3% 0% 3% 0%;
	height: 60px;
}
.line {
	width: 100%;
}
.line-2 {
	width: auto;
	margin-top: 1%;
}
.click-appear-div {
  background: rgba(81, 142, 248, 0.1);
  border: 1px solid #518EF8;
  border-radius: 15px;
}
.btn-next {
	color: white !important;
	background: #1AC29A !important;
	border-color: #1AC29A !important;
	&:hover {
		background: #1AC29A !important;
		border-color: #1AC29A !important;
	}
}
.btn-prev {
	margin-right: 20px;
	color: rgba(10, 33, 62, 0.6) !important;
	background: #F3F5F8 !important;
	border-color: #F3F5F8 !important;
	&:hover {
		color: rgba(10, 33, 62, 0.6) !important;
		background: #F3F5F8 !important;
		border-color: #F3F5F8 !important;
	}
}

@media only screen and (max-width: 950px) {
	.settings-button {
		width: 30%;
	}
	.settings-input-section {
		display: block;
		width: 90%;
	}
	.settings-input-field {
		width: 60%;
		margin-bottom: 5%;
	}
}

@media only screen and (max-width: 500px) {
	.create_settings {
		height: auto;
		width: 100%;
	}
	.line {
		width: 100%;
	}
	.line-2 {
		margin: 0%;
	}
	.two-col-div {
		display: block;
		width: 100%;
	}
	.two-col-div-item {
		width: 80%;
		margin-bottom: 5%;
	}
	.settings-checkbox-container {
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.settings-checkbox-div {
		width: 240%;
	}
	.select {
		font-size: 15px;
	}
	.settings-btn-section {
		display: block;
	}
	.btn-next {
		width: 100%;
	}
	.btn-prev {
		width: 100%;
		margin-bottom: 4vw;
	}
}
